<div class="container">
  <section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4 style="color: #e77daa;"><b>Thông Tin Shopper</b></h4>
        <ul>
          <li><a href="#">Hệ thống 350 Siêu thị (8:00-21:30)</a></li>
          <li><a href="#">Giới thiệu công ty</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Liên hệ và góp ý</a></li>
          <li><a href="#">Phương thức thanh toán</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
        </ul>
      </div>

      <div class="span3">
        <h4 style="color: #e77daa;"><b>Hỗ Trợ Khách Hàng</b></h4>
        <ul>
          <li><a href="./index.html">Hướng dẫn mua hàng online</a></li>
          <li><a href="./about.html">Mua hàng trả góp</a></li>
          <li><a href="./contact.html">Chính sách bảo hành, đổi trả</a></li>
          <li><a href="./cart.html">Giao hàng & lắp đặt</a></li>
          <li><a href="./register.html">Quy chế hoạt động</a></li>
          <li><a href="./register.html">In hóa đơn điện tử</a></li>
        </ul>
      </div>

      <div class="span3">
        <h4 style="color: #e77daa;"><b>Tổng đài gọi hỗ trợ</b></h4>
        <ul>
          <li><a href="./index.html">Bán hàng: 1900 6788</a></li>
          <li><a href="./about.html">Khiếu nại, Bảo hành</a></li>
          <li><a href="./contact.html">1900 6741 / 19006743</a></li>
        </ul>
      </div>
      <div class="span3">
        <p class="logo"><img src="assets/themes/images/logo.png" class="site_logo" alt=""></p>
        <li><a href="/index.html">Shopper là hệ thống chuỗi cửa hàng số một tại Việt Nam được nhiều khách hàng tin tưởng lựa chọn.
          Với nhiều năm kinh nghiệm trong lĩnh vực kinh doanh uy tín tại Việt Nam.
          Hệ thống chuỗi cửa hàng của chúng tôi cũng đa dạng về mẫu mã và phong phú về chủng loại đáp ứng hầu hết mọi
          nhu cầu cho người dùng từ phổ thông cho đến cao cấp.</a></li>
      </div>
    </div>
  </section>
  <section class="center" id="copyright">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span class="lth">LTH</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.facebook.com/HLT.195">Lê-Thanh-Hậu</a>
      </div>
    </div>
  </section>
</div>





