<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">

          <div class="col-12">
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..."/>
              <label for="name">Customer name</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating mb-3">
              <input class="form-control" id="birthday" type="date"
                     placeholder="Enter your birthday..."/>
              <label for="birthday">Birthday</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating mb-3">
              <input class="form-control" id="idCard" type="text"
                     placeholder="Enter your id card..."/>
              <label for="idCard">Gender</label>
            </div>
          </div>


          <div class="col-4">
            <div class="form-floating mb-3">
              <input class="form-control" id="phoneNumber" type="number"
                     placeholder="Enter your phone number..."/>
              <label for="phoneNumber">Id Card</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input class="form-control" id="email" type="text" placeholder="Enter your email..."/>
              <label for="email">Phone Number</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input class="form-control" id="address" type="text"
                     placeholder="Enter your address..."/>
              <label for="address">Email</label>
              <!--                                <div class="alert alert-danger" role="alert">-->
              <!--                                    <div></div>-->
              <!--                                </div>-->
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating mb-3">
              <select class="form-select" aria-label="Default select example"
                      style="padding-top: 0.625rem !important;">
                <option value="" selected disabled>Choice Customer Type</option>
                <option value="">Diamond</option>
                <option value="">Gold</option>
                <option value="">Iron</option>
              </select>
              <!--                                <div class="alert alert-danger" role="alert">-->
              <!--                                    <div></div>-->
              <!--                                </div>-->
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating mb-3">
              <input class="form-control" id="poolArea" type="text"
                     placeholder="Enter your address..."/>
              <label for="address">Address</label>
              <!--                                <div class="alert alert-danger" role="alert">-->
              <!--                                    <div></div>-->
              <!--                                </div>-->
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
