<div class="container">
  <div id="htmlData" #htmlData>
    <table border="c">
      <thead>
      <tr class="table-primary">
        <th>
          <h1>C0222G2 COFFEE</h1>
        </th>
      </tr>
      <tr>
        <th>
          <h5>DC: 295 Nguyen Tat Thanh - Da Nang</h5>
        </th>
      </tr>
      <tr>
        <td>
          <h5>SDT: 0236 6517 021</h5>
        </td>
      </tr>
      <tr>
        <td>
          -------------------------
        </td>
      </tr>
      <tr>
        <td>
          <h4><b>Hoa Don Thanh Toan</b></h4>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="text-align: left">
          <div class="row" style="text-align: left">
            <div class="col-4"><b>So:</b></div>
            <div class="col-8"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row" style="text-align: left">
            <div class="col-4"><b>Ban:</b></div>
            <div class="col-8"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row" style="text-align: left">
            <div class="col-4"><b>Ngay:</b></div>
            <div class="col-8"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row" style="text-align: left">
            <div class="col-4"><b>Nhan Vien:</b></div>
            <div class="col-8"></div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
</div>
