<header style="margin-top: 100px">
  <div class="p-3 text-center bg-image"
       style="height: 60px;">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-success">
          <h1 class="mb-3">
            <b>Danh Sach Lo Hang</b>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="getFormSearch()">
      <input class="form-control me-2 buttons1" type="search" name="searchParam" formControlName="searchParam"
             placeholder="Search Ten San Pham" aria-label="Search" aria-describedby="search-addon">
<!--      <input class="form-control me-2 buttons1" type="search" name="searchParam" formControlName="searchCustomerAddress"-->
<!--             placeholder="Search Ngay Nhap Hang" aria-label="Search" aria-describedby="search-addon">-->
      <button class="btn btn-outline-success buttons1" type="submit" name="name" style="color: black">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>

  <div class="container mt-3">
    <nav class="navbar navbar-light bg-info">
      <div class="container-fluid" style="height: 60px">
        <a [routerLink]="['/create']"
           class="btn btn-outline-success btn-lg" role="button" style="color: white">
          Nhập Hàng
        </a>
        <!--        <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="getFormSearch()">-->
        <!--          <input class="form-control me-2 buttons1" type="search" name="searchParam" formControlName="searchCustomerName"-->
        <!--                 placeholder="Search By Name" aria-label="Search" aria-describedby="search-addon">-->
        <!--          <button class="btn btn-outline-success buttons1" type="submit" name="name" style="color: black">-->
        <!--            <i class="bi bi-search"></i>-->
        <!--          </button>-->
        <!--        </form>-->
      </div>
    </nav>
  </div>
</header>
<div class="container mt-3">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>mã lô hàng</th>
      <th>Tên sản Phẩm</th>
      <th>Giá Tiền</th>
      <th>Đơn Vị</th>
      <th>Số Lượng</th>
      <th>Ngày Nhập Hàng</th>
      <th colspan="2" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lh of loHangs">
      <td>{{lh.maLoHang}}</td>
      <td>{{lh.sanPham.tenSanPham}}</td>
      <td>{{lh.sanPham.giaTien| currency: 'VND'}}</td>
      <td>{{lh.sanPham.donVi}}</td>
      <td>{{lh.soLuong}}</td>
      <td>{{lh.ngayNhapHang|date: 'dd-MM-yyyy'}}</td>
      <td>
        <a [routerLink]="['/edit',lh.id]"
          class="btn btn-outline-warning" type="button" style="color: black">
          <i class="bi bi-pencil"></i>
        </a>
      </td>

      <td>
        <button class="btn btn-outline-danger" data-bs-toggle="modal"
                [attr.data-bs-target]="'#deleteModal' + lh.id">
          <i class="bi bi-trash-fill"></i>
        </button>
        <div class="modal fade" id="deleteModal{{lh.id}}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-danger"><h1>Xác Nhận!</h1></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <!--                <h3>Do you want delete:</h3> <br>-->
                <span class="text-warning"></span>Bạn có chắc muốn xóa thông tin lô hàng <span
                class="text-warning">{{lh.sanPham.tenSanPham}}</span> <br>
                nhập ngày {{lh.ngayNhapHang}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="showCancel()">
                  Cancel
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                        (click)="deleteLoHang(lh.id)" (click)="showDelete()">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <a href="http://localhost:8080/rest/pdf/export/pdf"
     class="btn btn-outline-warning" type="button" style="color: black">
    PDF
  </a>

  <div class="container-fluid mt-3">
    <ul class="pagination float-end">
      <div *ngIf="number == 0">
        <li class="page-item disabled">
          <button class="page-link" (click)="goPrevious()">Previous</button>
        </li>
      </div>
      <div *ngIf="number != 0">
        <li class="page-item">
          <button class="page-link" (click)="goPrevious()">Previous</button>
        </li>
      </div>
      <div *ngFor="let count of countTotalPages; index as i">
        <div *ngIf="i == number">
          <li class="page-item active">
            <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
          </li>
        </div>
        <div *ngIf="i != number">
          <li class="page-item">
            <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
          </li>
        </div>
      </div>
      <div *ngIf="number == totalPages - 1">
        <li class="page-item disabled">
          <button class="page-link" (click)="goNext()">Next</button>
        </li>
      </div>
      <div *ngIf="number != totalPages - 1">
        <li class="page-item">
          <button class="page-link" (click)="goNext()">Next</button>
        </li>
      </div>
    </ul>
  </div>
</div>
