<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{bootstrap-css :: bootstrapCss}"></th:block>
</head>
<body>
<header style="margin-top: 100px">
    <div class="p-3 text-center bg-image"
         style="height: 60px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">List Contract</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" th:if="${success}">
        <h3 th:utext="${success}" style="color: blue"></h3>
    </div>
    <div class="text-center" th:if="${msgDelete}">
        <h3 th:utext="${msgDelete}" style="color: blue;"></h3>
    </div>
    <div class="text-center" th:if="${msgEdit}">
        <h3 th:utext="${msgEdit}" style="color: blue;"></h3>
    </div>


    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid" style="height: 60px">
                <a href="" th:href="@{/contract/create}" class="btn btn-outline-success btn-lg" role="button" style="color: white">
                    Create Contract
                </a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" name="searchParam"
                           placeholder="Search By Name"  aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="name" style="color: white">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Facility</th>
            <th>Customer</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Deposits</th>
            <th>Total Money</th>
            <th colspan="2">Attach Facility</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract, loop : ${contracts}">
            <td th:text="${contract.contractId}"></td>
            <td th:text="${contract.facility.facilityName}"></td>
            <td th:text="${contract.customer.customerName}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.deposits}"></td>
            <td th:text="${contract.facility.facilityCost}"></td>

            <td>
               <button class="btn btn-outline-success" data-bs-toggle="modal"  data-bs-target="#staticBackdropCreate">+</button>
               <button class="btn btn-outline-success">List Attach Facility</button>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#contractDetail' + ${contract.contractId}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="staticBackdrop + ${contract.contractId}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete Customer <span th:text="${contract.customer.customerName}" class="text-warning"></span>
                                with id = <span th:text="${contract.contractId}" class="text-warning"></span> ?
                            </div>
                            <div class="modal-footer">
                                <a href="" th:href="@{/contract/delete/{id}(id=${contract.contractId})}"
                                   class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-10">
            <a href="/customerType-list" class="btn btn-outline-success">Go To List</a>
        </div>
        <div class="col-2 ">
            <ul class="pagination" th:if="${contracts.totalPages > 0}">
                <li class="page-item">
                    <a class="page-link" th:if="${contracts.hasPrevious()}" th:href="@{'/contract-list'(page=${contracts.number - 1})}">
                        Previous
                    </a>
                </li>
                <div th:each="item, loop : ${#numbers.sequence(1, contracts.totalPages )}">
                    <div th:if="${(contracts.number + 1) == item}">
                        <li class="page-item active">
                            <a class="page-link" href="#" th:text="${item}" th:href="@{/contract-list(page=(${item}-1))}"></a>
                        </li>
                    </div>
                    <div th:unless="${((contracts.number + 1) == item)}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:text="${item}" th:href="@{/contract-list(page=(${item}-1) )}"></a>
                        </li>
                    </div>
                </div>
                <li class="page-item">
                    <a class="page-link" th:if="${contracts.hasNext()}" th:href="@{'contract-list'(page=${contracts.number + 1})}">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Modal Create Contract Detail-->
<div class="container">
    <section class="page-section" id="contractDetail">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabelCreate">Create Contract Detail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Default select example"
                                                style="padding-top: 0.625rem !important;" id="attachFacility">
                                            <option th:each="item, loop : ${attachFacilityList}"
                                                    th:text="${item.attachFacilityName}"
                                                    th:value="${item.attachFacilityId}"></option>
                                        </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="cost" type="text"
                                               placeholder="Enter your birthday..."/>
                                        <label for="cost">Cost</label>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" id="btnSaveCreate">Save</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<th:block th:replace="~{bootstrap-css :: #footer}"></th:block>
<th:block th:replace="~{bootstrap-css :: boostrapScript}"></th:block>
</body>
</html>