<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{bootstrap-css :: bootstrapCss}"></th:block>
</head>
<body id="page-top">
<header style="margin-top: 100px">
    <div class="p-3 text-center bg-image"
         style="height: 60px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">List Contract</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid" style="height: 60px">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropCreate">
                    Create Contract
                </button>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="searchValue" id="inputSearch">
                    <button class="btn btn-outline-success" type="submit" id="btnSearch">Search</button>

                </form>
            </div>
        </nav>
    </div>
</header>

<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Facility</th>
            <th>Customer</th>
            <th>Start Day</th>
            <th>End Day</th>
            <th>Deposits</th>
            <th>Total Money</th>
            <th colspan="2">Action</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="contractTableBody">

        </tbody>
    </table>
    <div>
        <div id="paginationTable">

        </div>
    </div>
</div>

<!-- Modal Create Contract -->
<div class="container">
    <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelCreate">Create Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="text-danger" id="tableInputNameEdit"></div>
                        <form id="contactFormEdit" method="post" action="/rest/contract/create">
                            <!-- startDate input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="startDate" type="date"
                                       placeholder="Enter your start date..."/>
                                <label for="startDate">Start Date</label>
                            </div>
                            <!-- endDate input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="endDate" type="date"
                                       placeholder="Enter your end date..."/>
                                <label for="endDate">End Date</label>
                            </div>
                            <!-- deposit input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="deposits" type="text"
                                       placeholder="Enter your deposit..."/>
                                <label for="deposits">Deposits</label>
                            </div>
                            <!-- phoneNumber input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="totalMoney" type="text" readonly/>
                                <label for="totalMoney">Total Money</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" aria-label="Default select example"
                                        style="padding-top: 0.625rem !important;" id="customer">
                                    <option th:each="item, loop : ${customers}"
                                            th:text="${item.customerName}"
                                            th:value="${item.customerId}"></option>
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" aria-label="Default select example"
                                        style="padding-top: 0.625rem !important;" id="facility">
                                    <option th:each="item, loop : ${facilities}"
                                            th:text="${item.facilityName}"
                                            th:value="${item.facilityId}"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="btnSaveCreate">Save</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</div>

<!-- Modal Create Contract Detail -->
</section>
</div>

<div class="container">
    <div class="modal fade" id="staticCreateContractDetail" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelCreateContractDetail">Create Contract Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="text-danger" id="contractId"></div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;" id="attachFacility">
                                <option th:each="item, loop : ${attachFacilityList}"
                                        th:text="${item.attachFacilityName}"
                                        th:value="${item.attachFacilityId}"></option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="quantity" type="text"
                                   placeholder="Enter your start date..."/>
                            <label for="startDate">Quantity</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" id="btnSaveCreateContractDetail">Save
                        </button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<th:block th:replace="~{bootstrap-css :: #footer}"></th:block>
<th:block th:replace="~{bootstrap-css :: jquery}"></th:block>
<script>
    function getPageContract(pageNumber) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET", //GET, DELETE, PUT...
            url: "http://localhost:8080/rest/contract-list?page=" + pageNumber,
            success: function (contractPage) {
                let contractBodyHTML = "";

                for (let i = 0; i < contractPage.content.length; i++) {
                    contractBodyHTML += `<tr>
                    <td>${contractPage.content[i].contractId}</td>
                    <td>${contractPage.content[i].facility.facilityName}</td>
                    <td>${contractPage.content[i].customer.customerName}</td>
                    <td>${contractPage.content[i].startDate}</td>
                    <td>${contractPage.content[i].endDate}</td>
                    <td>${contractPage.content[i].deposits}</td>
                    <td>${contractPage.content[i].facility.facilityCost}</td>
                    <td>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticCreateContractDetail">
                    +
                    </button>
                    <button class="btn btn-outline-success" id="attachFacility">List Attach Facility</button>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
          data-bs-target="#staticBackdropDelete${contractPage.content[i].contractId}">
          Delete
          </button>
                  <!-- Modal -->
          <div class="modal fade" id="staticBackdropDelete${contractPage.content[i].contractId}" data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title fw-bold text-danger" id="staticBackdropLabel">FBI
          Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
          </div>
          <div class="modal-body">
          Do you want to delete Customer Name ${contractPage.content[i].customer.customerName} with Contract id = ${contractPage.content[i].contractId} ?
          </div>
          <div class="modal-footer">
          <a href="${contractPage.content[i].contractId}" type="button" class="btn btn-outline-success" id="btnDelete">Yes</a>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          No
          </button>
          </div>
          </div>
          </div>
          </div>
          </td>
          </tr>`
                    ;
                }
                let pagination = "";
                pagination +=
                    `<div class="container mt-3">`
                pagination +=
                    `<ul class="pagination float-end">`
                ;
                switch (Number(pageNumber)) {
                    case 0:
                        pagination +=
                            `<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>`
                        break;
                    default:
                        pagination +=
                            `<li class="page-item"><a class="page-link" id="aPrevious" href="${contractPage.number}">Previous</a></li>`
                        break;
                }
                for (let i = 0; i < contractPage.totalPages; i++) {
                    switch (Number(i)) {
                        case Number(pageNumber):
                            pagination +=
                                `<li class="page-item active"><a class="page-link" id="aItem" href="` + i + `">`
                                + (i + 1) +
                                `</a></li>`
                            break;
                        default:
                            pagination +=
                                `<li class="page-item"><a class="page-link" id="aItem" href="` + i + `">`
                                + (i + 1) +
                                `</a></li>`
                            break;
                    }
                }
                switch (Number(contractPage.number)) {
                    case contractPage.totalPages = (Number(contractPage.totalPages <= 0) ? 0 : Number(contractPage.totalPages - 1)):
                        pagination +=
                            `<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>`
                        break;
                    default:
                        pagination +=
                            `<li class="page-item"><a class="page-link" id="aNext" href="${contractPage.number}">Next</a></li>`
                        break;
                }
                pagination +=
                    `</ul>`
                pagination += `
         </div>
                    `;
                $("#contractTableBody").html(contractBodyHTML);
                $("#paginationTable").html(pagination);
            }
            ,
            error: function (resultError) {
                console.log('Co loi xay ra');
            }
        });
    }
        getPageContract(0, "");

        $("#btnSaveCreate").click(function () {
            let eStartDate = $("#startDate").val();
            let eEndDate = $("#endDate").val();
            let eDeposits = $("#deposits").val();
            let eCustomer = $("#customer").val();
            let eFacility = $("#facility").val();
            let contractObj = {
                "startDate": eStartDate,
                "endDate": eEndDate,
                "deposits": eDeposits,
                "customer": {
                    "customerId": eCustomer
                },
                "facility": {
                    "facilityId": eFacility
                },
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST", //GET, DELETE, PUT...
                url: "http://localhost:8080/rest/contract/create",
                data: JSON.stringify(contractObj),
                success: function (contractPage) {
                    $("#startDate").val("");
                    $("#endDate").val("");
                    $("#deposits").val("");
                    $("#customer").val("");
                    $("#facility").val("");
                    $("#staticBackdropCreate").modal("hide");
                    getPageContract(0, "");
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
        })
        $(document).ready(function () {
            $("#contractTableBody").on("click", "#btnDelete", function (event) {
                let id = $(this).attr("href");
                event.preventDefault();
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "DELETE", //GET, DELETE, PUT...
                    url: "http://localhost:8080/rest/contract/delete/" + id,
                    success: function (resultSuccess) {
                        $("#staticBackdropDelete" + id).modal("hide");
                        getPageContract(0, "");
                    },
                    error: function (resultError) {
                        console.log('Co loi xay ra');
                    }
                });
            })
        })


        $("#btnSaveCreateContractDetail").click(function () {
            let eAttachFacility = $("#attachFacility").val();
            let eQuantity = $("#quantity").val();
            let contractDetailObj = {
                "attachFacility": {
                    "attachFacilityId": eAttachFacility
                },
                "quantity": eQuantity,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST", //GET, DELETE, PUT...
                url: "http://localhost:8080/rest/contractDetail/create",
                data: JSON.stringify(contractDetailObj),
                success: function (contractDetailPage) {
                    $("#attachFacility").val("");
                    $("#quantity").val("");
                    $("#staticCreateContractDetail").modal("hide");
                    // getPageContractDetail(0, "");
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
        })
</script>
<th:block th:replace="~{bootstrap-css :: boostrapScript}"></th:block>
</body>
</html>