<form [formGroup]="loginFormReactive" (ngSubmit)="loginWithReactive()">

  <div class="container">
    <div class="w-25 m-auto">
      <div class="p-13 text-center bg-image"
           style="height: 50px;">
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-success">
              <h1 class="mb-3">Form Login</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3 ">
        <label class="form-label h6">Email:</label>
        <input formControlName="email" name="email" type="email" class="form-control" placeholder="Enter Email">
        <p style="color: red"
           *ngIf="loginFormReactive.controls.email.hasError('required') && loginFormReactive.controls.email.touched">
          Email không được để trống</p>
        <p style="color: red"
           *ngIf="loginFormReactive.controls.email.hasError('pattern') && loginFormReactive.controls.email.touched">
          Email không đúng định dạng</p>
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label h6">Password:</label>
        <input formControlName="password" name="password" type="text" class="form-control" placeholder="Enter password">
        <p style="color: red"
           *ngIf="loginFormReactive.controls.password.hasError('required') && loginFormReactive.controls.password.touched">
          password không được để trống</p>
        <p style="color: red"
           *ngIf="loginFormReactive.controls.password.hasError('minlength')">
          password không được ít hơn 6 ký tự</p>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>

      <button type="submit" class="btn btn-outline-success">Login</button>

    </div>
  </div>
</form>
