<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout-css :: bootstrapCss}"></th:block>
</head>
<body>
<div class="p-3 text-center bg-image"
     style="height: 50px;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-success">
                <h1 class="mb-3">Create My Book</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="/book/create" method="post" th:object="${book}">

        <div class="mb-3 mt-3">
            <label class="form-label h6">book Name:</label>
            <input type="text" class="form-control" placeholder="Enter First Name" th:field="*{bookName}">
        </div>

        <div>
            <label class="form-label h6">book Amount:</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" th:field="*{bookAmount}">
        </div>


        <div class="mb-3 mt-3">
            <label class="form-label h6">book Author:</label>
            <input type="text" class="form-control" placeholder="Enter Phone Number" th:field="*{bookAuthor}">
        </div>


        <div class="mb-3 mt-3">
            <label class="form-label h6">book Year:</label>
            <input type="text" class="form-control" placeholder="Enter Age" th:field="*{bookYear}">
        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
        <a href="/book/home" class="btn btn-outline-secondary">Back home</a>
    </form>
</div>
</div>
<th:block th:replace="~{layout-css :: boostrapScript}"></th:block>
</body>
</html>