<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout-css :: bootstrapCss}"></th:block>
</head>
<body>
<header>
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">My Book</h1>
                    <a href="" th:href="@{/book/create}" class="btn btn-outline-success btn-lg" role="button">Create Book</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
                <h5 class="navbar-brand">List Books : </h5>
            </div>
        </nav>
    </div>
</header>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Name</th>
            <th>amount</th>
            <th>Author</th>
            <th>Year</th>
            <th>borrow</th>
            <th>return</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, loop : ${books}">
            <td th:text="${loop.count}"></td>
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.bookAmount}"></td>
            <td th:text="${book.bookAuthor}"></td>
            <td th:text="${book.bookYear}"></td>
            <td>
                <a th:href="@{/book/borrow{id}(id=${book.bookId})}" class="btn btn-outline-success">borrow</a>
            </td>
            <td>
                <a class="btn btn-outline-success">return</a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop' + ${book.bookId}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="staticBackdrop + ${book.bookId}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete blog <span th:text="${book.bookName}" class="text-warning"></span>
                                with id = <span th:text="${book.bookId}" class="text-warning"></span> ?
                            </div>
                            <div class="modal-footer">
                                <a href="" th:href="@{/book/delete/{id}(id=${book.bookId})}"
                                   class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="~{layout-css :: boostrapScript}"></th:block>
</body>
</html>