<div class="container" style="margin-top: 100px">
  <div class="p-3 text-center bg-image"
       style="height: 50px;">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-success">
          <h1 class="mb-3">Create New Facility</h1>
        </div>
      </div>
    </div>
  </div>

  <form>

    <div class="mb-3 mt-3">
      <label class="form-label h6">Facility Name:</label>
      <input type="text" class="form-control" placeholder="Enter Facility Name">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label h6">Facility Area:</label>
      <input type="text" class="form-control" placeholder="Enter Facility Area">
    </div>


    <div class="mb-3 mt-3">
      <label class="form-label h6">Facility Cost:</label>
      <input type="text" class="form-control" placeholder="Enter Facility Cost">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label h6">Max People:</label>
      <input type="text" class="form-control" placeholder="Enter Max People">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label h6">Rent Type:(select one):</label>
      <select class="form-select" name="rentType" id="rentType">
        <option value="Giờ" >Giờ</option>
        <option value="Ngày">Ngày</option>
        <option value="Tháng">Tháng</option>
        <option value="Năm">Năm</option>
      </select>
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label h6">Facility Type:(select one):</label>
      <select id="choiceFacility" class="form-select" onchange="selectFacility()">
        <option value="1" >Villa</option>
        <option value="2">House</option>
        <option value="3">Room</option>
      </select>
    </div>

    <div class="mb-3 mt-3" id="standardRoom" style="display: none">
      <label class="form-label h6">Standard Room:</label>
      <input type="text" class="form-control" placeholder="Enter Standard Room">
    </div>

    <div class="mb-3 mt-3" id="descriptionOtherConvenience" style="display: none">
      <label class="form-label h6">Description Other Convenience:</label>
      <input  type="text" class="form-control" placeholder="Enter Description Other Convenience">
    </div>

    <div class="mb-3 mt-3" id="poolArea" style="display: none">
      <label class="form-label h6">Pool Area:</label>
      <input type="text" class="form-control" placeholder="Enter Pool Area">
    </div>

    <div class="mb-3 mt-3" id="numberOfFloors" style="display:none;">
      <label class="form-label h6">Number Of Floors:</label>
      <input type="text" class="form-control" placeholder="Enter Number Of Floors">
    </div>

    <div class="mb-3 mt-3" id="facilityFree" style="display:none;">
      <label class="form-label h6">Facility Free:</label>
      <input type="text" class="form-control" placeholder="Enter Facility Free">
    </div>


    <button type="submit" class="btn btn-outline-success">Submit</button>
    <a [routerLink]="['/facilityList']"
       style="margin-left: 10px" class="btn btn-outline-secondary">Back home</a>
  </form>
</div>



<script>
  function selectFacility() {
    let getValue = $('#choiceFacility').val()
    switch (getValue) {
      case '1':
        $('#standardRoom').show()
        $('#descriptionOtherConvenience').show()
        $('#poolArea').show()
        $('#numberOfFloors').show()
        $('#facilityFree').hide()
        break;
      case '2':
        $('#standardRoom').show()
        $('#descriptionOtherConvenience').show()
        $('#poolArea').hide()
        $('#numberOfFloors').show()
        $('#facilityFree').hide()
        break;
      case '3':
        $('#standardRoom').hide()
        $('#descriptionOtherConvenience').hide()
        $('#poolArea').hide()
        $('#numberOfFloors').hide()
        $('#facilityFree').show()
        break;
    }

  }
</script>
