<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{bootstrap-css :: bootstrapCss}"></th:block>
</head>
<body id="page-top">
<header style="margin-top: 100px">
    <div class="p-3 text-center bg-image"
         style="height: 60px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">List Employee</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid" style="height: 60px">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropCreate">
                    Create Employee
                </button>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="searchValue" id="inputSearch">
                    <button class="btn btn-outline-success" type="submit" id="btnSearch">Search</button>

                </form>
            </div>
        </nav>
    </div>
</header>

<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="employeeTableBody">

        </tbody>
    </table>
    <div>
        <div id="paginationTable">

        </div>
    </div>
</div>

<!-- Modal Create -->
<div class="container">
    <section class="page-section" id="facility">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabelCreate">Create new Employee</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="text-danger" id="tableInputName"></div>
                                    <form id="contactForm" method="post" action="/employee/create">
                                        <!-- name input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeName" type="text"
                                                   placeholder="Enter your name..."/>
                                            <label for="employeeName">Employee name</label>
                                        </div>
                                        <!-- birthday input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeBirthday" type="date"
                                                   placeholder="Enter your birthday..."/>
                                            <label for="employeeBirthday">Employee Birthday</label>
                                        </div>
                                        <!-- idCard input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeIdCard" type="text"
                                                   placeholder="Enter your id card..."/>
                                            <label for="employeeIdCard">Employee Id Card</label>
                                        </div>
                                        <!-- phoneNumber input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeePhone" type="text"
                                                   placeholder="Enter your phone number..."/>
                                            <label for="employeePhone">Employee Phone</label>
                                        </div>
                                        <!-- email input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeEmail" type="text"
                                                   placeholder="Enter your email..."/>
                                            <label for="employeeEmail">Email</label>
                                        </div>
                                        <!-- salary input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeSalary" type="text"
                                                   placeholder="Enter your salary..."/>
                                            <label for="employeeSalary">Salary</label>
                                        </div>

                                        <!-- Address input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="employeeAddress" type="text"
                                                   placeholder="Enter your salary..."/>
                                            <label for="employeeAddress">Address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;" id="educationDegree">
                                                <option th:each="item, loop : ${educationDegreeList}"
                                                        th:text="${item.educationDegreeName}"
                                                        th:value="${item.educationDegreeId}"></option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;" id="position">
                                                <option th:each="item, loop : ${positionList}"
                                                        th:text="${item.positionName}"
                                                        th:value="${item.positionId}"></option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;" id="division">
                                                <option th:each="item, loop : ${divisionList}"
                                                        th:text="${item.divisionName}"
                                                        th:value="${item.divisionId}"></option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" id="btnSaveCreate">Save</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEdit">Edit Employee</h5>
                <button type="button" class="btn-close btnCloseEdit" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="text-danger" id="tableInputNameEdit"></div>
                    <div id="contactFormEdit">
                        <input type="hidden" id="employeeIdEdit">
                        <!-- name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeNameEdit" type="text"
                                   placeholder="Enter your name..."/>
                            <label for="employeeNameEdit">Employee name</label>
                        </div>
                        <!-- birthday input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeBirthdayEdit" type="date"
                                   placeholder="Enter your birthday..."/>
                            <label for="employeeBirthdayEdit">Birthday</label>
                        </div>
                        <!-- idCard input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeIdCardEdit" type="text"
                                   placeholder="Enter your id card..."/>
                            <label for="employeeIdCardEdit">Id Card</label>
                        </div>
                        <!-- phoneNumber input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeePhoneEdit" type="text"
                                   placeholder="Enter your phone number..."/>
                            <label for="employeePhoneEdit">Phone Number</label>
                        </div>
                        <!-- email input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeEmailEdit" type="text"
                                   placeholder="Enter your email..."/>
                            <label for="employeeEmailEdit">Email</label>
                        </div>
                        <!-- salary input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeSalaryEdit" type="text"
                                   placeholder="Enter your salary..."/>
                            <label for="employeeSalaryEdit">Salary</label>
                        </div>
                        <!-- Address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="employeeAddressEdit" type="text"
                                   placeholder="Enter your salary..."/>
                            <label for="employeeAddressEdit">Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;" id="educationDegreeEdit">
                                <option th:each="item, loop : ${educationDegreeList}"
                                        th:text="${item.educationDegreeName}"
                                        th:value="${item.educationDegreeId}"
                                        th:id="'educationDegreeEdit' + ${item.educationDegreeId}"></option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;" id="positionEdit">
                                <option th:each="item, loop : ${positionList}"
                                        th:text="${item.positionName}" th:value="${item.positionId}"
                                        th:id="'positionEdit' + ${item.positionId}"></option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;" id="divisionEdit">
                                <option th:each="item, loop : ${divisionList}"
                                        th:text="${item.divisionName}" th:value="${item.divisionId}"
                                        th:id="'divisionEdit' + ${item.divisionId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="btnSaveEdit">Save</button>
                    <button type="button" class="btn btn-outline-secondary btnCloseEdit"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Footer-->
<th:block th:replace="~{bootstrap-css :: #footer}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

</script>

<script>
    function getPageEmployee(pageNumber, searchParam) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET", //GET, DELETE, PUT...
            url: "http://localhost:8080/rest/employee?page=" + pageNumber + "&searchValue=" + searchParam,
            success: function (employeePage) {
                let employeeBodyHTML = "";

                for (let i = 0; i < employeePage.content.length; i++) {
                    employeeBodyHTML += `<tr>
                    <td>${i + 1}</td>
                    <td>${employeePage.content[i].employeeId}</td>
                    <td>${employeePage.content[i].employeeName}</td>
                    <td>${employeePage.content[i].employeeBirthday}</td>
                    <td>${employeePage.content[i].employeeSalary}</td>
                    <td>${employeePage.content[i].employeePhone}</td>
                    <td>${employeePage.content[i].employeeAddress}</td>
                    <td>
                    <a href="${employeePage.content[i].employeeId}" class="btn btn-outline-warning" id="btnEdit">
                    Edit
                    </a>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#staticBackdropDelete${employeePage.content[i].employeeId}">
                    Delete
                    </button>
                        <!-- Modal -->
                    <div class="modal fade" id="staticBackdropDelete${employeePage.content[i].employeeId}" data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fw-bold text-danger" id="staticBackdropLabel">FBI
                    Warning!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Do you want to delete employee ${employeePage.content[i].employeeName} with id = ${employeePage.content[i].employeeId} ?
                    </div>
                    <div class="modal-footer">
                    <a href="${employeePage.content[i].employeeId}" type="button" class="btn btn-outline-primary" id="btnDelete">Submit</a>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                    </button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </td>
                    </tr>`
                    ;
                }
                let pagination = "";
                pagination +=
                    `<div class="container mt-3">`
                pagination +=
                    `<ul class="pagination float-end">`
                ;
                switch (Number(pageNumber)) {
                    case 0:
                        pagination +=
                            `<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>`
                        break;
                    default:
                        pagination +=
                            `<li class="page-item"><a class="page-link" id="aPrevious" href="${employeePage.number}">Previous</a></li>`
                        break;
                }
                for (let i = 0; i < employeePage.totalPages; i++) {
                    switch (Number(i)) {
                        case Number(pageNumber):
                            pagination +=
                                `<li class="page-item active"><a class="page-link" id="aItem" href="` + i + `">`
                                + (i + 1) +
                                `</a></li>`
                            break;
                        default:
                            pagination +=
                                `<li class="page-item"><a class="page-link" id="aItem" href="` + i + `">`
                                + (i + 1) +
                                `</a></li>`
                            break;
                    }
                }
                switch (Number(employeePage.number)) {
                    case employeePage.totalPages = (Number(employeePage.totalPages <= 0) ? 0 : Number(employeePage.totalPages - 1)):
                        pagination +=
                            `<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>`
                        break;
                    default:
                        pagination +=
                            `<li class="page-item"><a class="page-link" id="aNext" href="${employeePage.number}">Next</a></li>`
                        break;
                }
                pagination +=
                    `</ul>`
                pagination += `
         </div>
                    `;
                $("#employeeTableBody").html(employeeBodyHTML);
                $("#paginationTable").html(pagination);
            }
            ,
            error: function (resultError) {
                console.log('Co loi xay ra');
            }
        });
    }
        getPageEmployee(0, "");

        $("#btnSaveCreate").click(function () {
            let eName = $("#employeeName").val();
            let eBirthday = $("#employeeBirthday").val();
            let eIdCard = $("#employeeIdCard").val();
            let ePhoneNumber = $("#employeePhone").val();
            let eEmail = $("#employeeEmail").val();
            let eSalary = $("#employeeSalary").val();
            let eAddress = $("#employeeAddress").val();
            let eEducationDegree = $("#educationDegree").val();
            let eDivision = $("#division").val();
            let ePosition = $("#position").val();
            let employeeObj = {
                "employeeName": eName,
                "employeeBirthday": eBirthday,
                "employeeIdCard": eIdCard,
                "employeePhone": ePhoneNumber,
                "employeeEmail": eEmail,
                "employeeSalary": eSalary,
                "employeeAddress": eAddress,
                "educationDegree": {
                    "educationDegreeId": eEducationDegree
                },
                "division": {
                    "divisionId": eDivision
                },
                "position": {
                    "positionId": ePosition
                },
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST", //GET, DELETE, PUT...
                url: "http://localhost:8080/rest/employee/create",
                data: JSON.stringify(employeeObj),
                success: function (employeePage) {
                    $("#employeeName").val("");
                    $("#employeeBirthday").val("");
                    $("#employeeIdCard").val("");
                    $("#employeePhone").val("");
                    $("#employeeEmail").val("");
                    $("#employeeSalary").val("");
                    $("#employeeAddress").val("");
                    $("#division").val("");
                    $("#educationDegree").val("");
                    $("#position").val("");
                    $("#staticBackdropCreate").modal("hide");
                    getPageEmployee(0, "");
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
        })
        $(document).ready(function () {
            $("#employeeTableBody").on("click", "#btnDelete", function (event) {
                let idDelete = $(this).attr("href");
                event.preventDefault();
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "DELETE", //GET, DELETE, PUT...
                    url: "http://localhost:8080/rest/employee/delete/" + idDelete,
                    success: function (resultSuccess) {
                        $("#staticBackdropDelete" + idDelete).modal("hide");
                        getPageEmployee(0, "");
                    },
                    error: function (resultError) {
                        console.log('Co loi xay ra');
                    }
                });
            })
        })
        $(document).ready(function () {
            $("#employeeTableBody").on("click", "#btnEdit", function (event) {
                let idEdit = $(this).attr("href");
                event.preventDefault();
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "GET", //GET, DELETE, PUT...
                    url: "http://localhost:8080/rest/employee/edit/" + idEdit,
                    success: function (employee) {
                        $("#employeeIdEdit").val(employee.employeeId);
                        $("#employeeNameEdit").val(employee.employeeName);
                        $("#employeeBirthdayEdit").val(employee.employeeBirthday);
                        $("#employeeIdCardEdit").val(employee.employeeIdCard);
                        $("#employeePhoneEdit").val(employee.employeePhone);
                        $("#employeeEmailEdit").val(employee.employeeEmail);
                        $("#employeeSalaryEdit").val(employee.employeeSalary);
                        $("#employeeAddressEdit").val(employee.employeeAddress);
                        let educationDegreeEditId = "educationDegreeEdit" + employee.educationDegree.educationDegreeId;
                        let positionEditId = "positionEdit" + employee.position.positionId;
                        let divisionEditId = "divisionEdit" + employee.division.divisionId;
                        document.getElementById(educationDegreeEditId).setAttribute("selected", "");
                        document.getElementById(positionEditId).setAttribute("selected", "");
                        document.getElementById(divisionEditId).setAttribute("selected", "");
                        $(".btnCloseEdit").click(function (event) {
                            document.getElementById(educationDegreeEditId).removeAttribute("selected");
                            document.getElementById(positionEditId).removeAttribute("selected");
                            document.getElementById(divisionEditId).removeAttribute("selected");
                        })
                        $("#staticBackdropEdit").modal("show");
                    },
                    error: function (resultError) {
                        console.log('Co loi xay ra');
                    }
                });
            })
        })
        $("#btnSaveEdit").click(function () {
            let eId = $("#employeeIdEdit").val();
            let eName = $("#employeeNameEdit").val();
            let eBirthday = $("#employeeBirthdayEdit").val();
            let eIdCard = $("#employeeIdCardEdit").val();
            let ePhoneNumber = $("#employeePhoneEdit").val();
            let eEmail = $("#employeeEmailEdit").val();
            let eSalary = $("#employeeSalaryEdit").val();
            let eAddress = $("#employeeAddressEdit").val();
            let eEducationDegree = $("#educationDegreeEdit").val();
            let eDivision = $("#divisionEdit").val();
            let ePosition = $("#positionEdit").val();
            let employeeObj = {
                "employeeId": eId,
                "employeeName": eName,
                "employeeBirthday": eBirthday,
                "employeeIdCard": eIdCard,
                "employeePhone": ePhoneNumber,
                "employeeEmail": eEmail,
                "employeeSalary": eSalary,
                "employeeAddress": eAddress,
                "educationDegree": {
                    "educationDegreeId": eEducationDegree
                },
                "division": {
                    "divisionId": eDivision
                },
                "position": {
                    "positionId": ePosition
                },
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT", //GET, DELETE, PUT...
                url: "http://localhost:8080/rest/employee/edit",
                data: JSON.stringify(employeeObj),
                success: function (studentPage) {
                    getPageEmployee(0, "");
                    $("#staticBackdropEdit").modal("hide");
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
        })
        $("#paginationTable").on("click", "#aNext", function (event) {
            let numberPage = $(this).attr("href");
            numberPage++;
            event.preventDefault();
            getPageEmployee(numberPage, "");
        })
        $("#paginationTable").on("click", "#aPrevious", function (event) {
            let numberPage = $(this).attr("href");
            numberPage--;
            event.preventDefault();
            getPageEmployee(numberPage, "");
        })
        $("#paginationTable").on("click", "#aItem", function (event) {
            let numberPage = $(this).attr("href");
            event.preventDefault();
            getPageEmployee(numberPage, "");
        })
        $("#btnSearch").click(function (event) {
            let searchValue = $("#inputSearch").val();
            getPageEmployee(0, searchValue);
        })
</script>
</section>
</div>
<th:block th:replace="~{bootstrap-css :: boostrapScript}"></th:block>
</body>
</html>