<div class="container" >
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/']"><b>Biểu Đồ Thống Kê :</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/bar-chart']">Biểu đồ cột</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/doughnut-chart']">Biểu đồ bánh</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-warning" [routerLink]="['/radar-chart']">Biểu đồ radar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/pie-chart']">Biểu đồ tròn</a>
    </li>
  </ul>
</div>
<div class="container pb-4">
  <div style="display: block">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"></canvas>
  </div>
</div>
