<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout-css :: bootstrapCss}"></th:block>
</head>
<body>
<div class="p-3 text-center bg-image"
     style="height: 50px;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-success">
                <h1 class="mb-3">Create My User</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="/user/create" method="post" th:object="${userDto}">
        <div class="mb-3 mt-3">
            <label class="form-label h6">First Name:</label>
            <input type="text" class="form-control" placeholder="Enter First Name" th:field="*{firstName}">
        </div>

        <div style="color: red" th:errors = "*{firstName}"></div> <div class="mb-3 mt-3">

            <label class="form-label h6">Last Name:</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" th:field="*{lastName}">
        </div>

        <div style="color: red" th:errors = "*{lastName}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Phone Number:</label>
            <input type="text" class="form-control" placeholder="Enter Phone Number" th:field="*{phoneNumber}">
        </div>

        <div style="color: red" th:errors = "*{phoneNumber}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Age:</label>
            <input type="text" class="form-control" placeholder="Enter Age" th:field="*{age}">
        </div>

        <div style="color: red" th:errors = "*{age}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" th:field="*{email}">
        </div>

        <div style="color: red" th:errors = "*{email}"></div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
        <a href="/user/list" class="btn btn-outline-secondary">Back home</a>
    </form>
</div>
</div>
<th:block th:replace="~{layout-css :: boostrapScript}"></th:block>
</body>
</html>