<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout-css :: bootstrapCss}"></th:block>
</head>
<body>
<div class="p-3 text-center bg-image"
     style="height: 50px;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-success">
                <h1 class="mb-3">Create My Product</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="/create" method="post" th:object="${product}">

        <div class="mb-3 mt-3">
            <label class="form-label h6">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Name" th:field="*{name}">
        </div>

        <div>
            <label class="form-label h6">price:</label>
            <input type="text" class="form-control" placeholder="Enter price" th:field="*{price}">
        </div>


        <div class="mb-3 mt-3">
            <label class="form-label h6">quantity:</label>
            <input type="text" class="form-control" placeholder="Enter Phone Number" th:field="*{quantity}">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">img:</label>
            <input type="text" class="form-control" placeholder="Enter Age" th:field="*{img}">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">description:</label>
            <input type="text" class="form-control" placeholder="Enter Age" th:field="*{description}">
        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
        <a href="/shop" class="btn btn-outline-secondary">Back home</a>
    </form>
</div>
</div>
<th:block th:replace="~{layout-css :: boostrapScript}"></th:block>
</body>
</html>