<div id="wrapper1" class="container">

  <section class="homepage-slider" id="home-slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="assets/bootstrap/img/img.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_8.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_6.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_4.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_3.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_5.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_2.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_7.png" alt=""/>
        </li>
        <li>
          <img src="assets/bootstrap/img/img_1.png" alt=""/>
        </li>
      </ul>
    </div>
  </section>
  <section class="header_text">
    Chúng tôi đại diện cho các Sản Phẩm chất lượng hàng đầu. Các nhà phát triển chính hãng của chúng tôi luôn tối
    ưu hóa các Sản Phẩm.
    <br>Đừng bỏ lỡ để sử dụng các Sản Phẩm tốt nhất giá rẻ của chúng tôi.
  </section>
  <section class="main-content">
    <div class="row">
      <div class="span12">
        <div class="row">



          <div class="span12">
            <h4 style="color: red">Sản Phẩm Nổi Bật</h4>
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line">Lapop</span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a
                class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a class="nav-link" routerLink="/detail"><img src="../../../assets/bootstrap/img/laptop/img_4.png"
                                                                         alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Dell Vostro 3400
                          YX51W6</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">21.990.000 VNĐ</a>
                        <p class="price">16.890.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_5.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop MSI GF63 Thin 11SC
                          662VN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">22.490.000 VNĐ</a>
                        <p class="price">17.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_6.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Asus X515EA-BQ1006W -
                          Silver</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">10.190.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_7.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop HP Pavilion
                          15-eg2058TU 6K788PA</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">17.990.000 VNĐ</a>
                        <p class="price">16.690.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_8.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Acer Aspire 3
                          A315-58-35AG NX.ADDSV.00B</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">12.490.000 VNĐ</a>
                        <p class="price">9.790.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_9.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop MSI Modern 14 B11MOU
                          1033VN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">20.990.000 VNĐ</a>
                        <p class="price">16.990.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_8.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Acer Aspire 3
                          A315-58-35AG NX.ADDSV.00B</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">12.490.000 VNĐ</a>
                        <p class="price">9.790.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_9.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop MSI Modern 14 B11MOU
                          1033VN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">20.990.000 VNĐ</a>
                        <p class="price">16.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_10.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Asus X515EA-BQ1006W -
                          Silver</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">10.190.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_11.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Laptop Lenovo V14 G2 ITL
                          82KA00WGVN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">12.190.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop_2/img_2.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Asus VivoBook A515EA-BQ1532T</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">15.390.000 VNĐ</a>
                        <p class="price">11.690.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop_2/img_3.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop LG Gram 2021 14Z90P-G.AH75A5</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">47.890.000 VNĐ</a>
                        <p class="price">36.990.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>


          <div class="span12">
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line">Điện Thoại</span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel1_1" data-slide="prev"></a><a
                class="right button" href="#myCarousel1_1" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel1_1" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a class="nav-link" routerLink="/detail"><img src="../../../assets/bootstrap/img/phone/img.png"
                                                                         alt=""/></a></p>
                        <a href="product_detail.html" class="title">Iphone 13 Pro Max</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">21.990.000 VNĐ</a>
                        <p class="price">26.590.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_1.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy Z Fold3 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">41.990.000 VNĐ</a>
                        <p class="price">31.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_2.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy Z Flip3 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">24.990.000 VNĐ</a>
                        <p class="price">14.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_3.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">iPhone 13 Pro</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">30.990.000 VNĐ</a>
                        <p class="price">24.890.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_4.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy Z Fold4 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">12.490.000 VNĐ</a>
                        <p class="price">40.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_5.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">OPPO Find X5 Pro 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">32.990.000 VNĐ</a>
                        <p class="price">30.990.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_6.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Vivo X80</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">19.990.000 VNĐ</a>
                        <p class="price">18.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_7.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy S22 Ultra 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">30.990.000 VNĐ</a>
                        <p class="price">25.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_8.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy Z Flip4 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">23.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_9.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">iPhone 13</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">24.990.000 VNĐ</a>
                        <p class="price">19.200.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_10.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Samsung Galaxy S22+ 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">25.990.000 VNĐ</a>
                        <p class="price">21.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_11.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">iPhone 11</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">14.490.000 VNĐ</a>
                        <p class="price">11.490.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="span12">
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line">Khác</span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel1_2" data-slide="prev"></a><a
                class="right button" href="#myCarousel1_2" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel1_2" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a class="nav-link" routerLink="/detail"><img src="../../../assets/bootstrap/img/other/img.png"
                                                                         alt=""/></a></p>
                        <a href="product_detail.html" class="title">Smart Tivi LG 4K 55 inch 55UP7550PTC</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">20.900.000 VNĐ</a>
                        <p class="price">12.090.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/other/img_1.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Tủ lạnh Sharp Inverter 605 lít SJ-FX688VG-BK</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">28.990.000 VNĐ</a>
                        <p class="price">27.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/other/img_2.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">LG AI DD™ Máy giặt lồng ngang 10kg (trắng)</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">15.990.000 VNĐ</a>
                        <p class="price">13.490.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/other/img_3.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">QUẠT ĐIỀU HÒA DAIKIO CHÍNH HÃNG DKA-02500B</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">8.990.000 VNĐ</a>
                        <p class="price">4.590.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/other/img_4.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Điều hòa Panasonic Inverter 11900 </a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">16.290.000 VNĐ</a>
                        <p class="price">15.640.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/other/img_5.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Smart Tivi NanoCell LG 4K 50 inch 50NANO77TPA</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">21.900.000 VNĐ</a>
                        <p class="price">15.350.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="thumbnails">
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_6.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Vivo X80</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">19.990.000 VNĐ</a>
                        <p class="price">18.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_7.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy S22 Ultra 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">30.990.000 VNĐ</a>
                        <p class="price">25.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_8.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">Samsung Galaxy Z Flip4 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">23.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_9.png"
                                                              alt=""/></a></p>
                        <a href="product_detail.html" class="title">iPhone 13</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">24.990.000 VNĐ</a>
                        <p class="price">19.200.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_10.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Samsung Galaxy S22+ 5G</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">25.990.000 VNĐ</a>
                        <p class="price">21.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/phone/img_11.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">iPhone 11</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">14.490.000 VNĐ</a>
                        <p class="price">11.490.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br/>
        <div class="row">
          <div class="span12">
            <h4 class="title">
                            <span class="pull-left"><span class="text"><span
                              class="line">Sản Phẩm Mới Nhất</span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a
                class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel-2" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <li class="span3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html">
                          <img src="../../../assets/bootstrap/img/laptop_2/img.png" alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Acer Aspire 3 A315-58-35AG</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">12.490.000 VNĐ</a>
                        <p class="price">9.790.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop_2/img_1.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop MSI Modern 14 B11MOU 1033VN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">20.990.000 VNĐ</a>
                        <p class="price">10.190.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop_2/img_2.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Asus VivoBook A515EA-BQ1532T</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">15.390.000 VNĐ</a>
                        <p class="price">11.690.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop_2/img_3.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop LG Gram 2021 14Z90P-G.AH75A5</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">47.890.000 VNĐ</a>
                        <p class="price">36.990.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="thumbnails">
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_6.png" alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Asus VivoBook A515EA-BQ1532T</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">12.990.000 VNĐ</a>
                        <p class="price">9.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_5.png" alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop MSI GF63 Thin 11SC 664VN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">22.490.000 VNĐ</a>
                        <p class="price">17.990.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_4.png" alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Lenovo V14 G2 ITL 82KA00WGVN</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">21.990.000 VNĐ</a>
                        <p class="price">16.890.000 VNĐ</p>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="product_detail.html"><img src="../../../assets/bootstrap/img/laptop/img_11.png"
                                                              alt=""/></a>
                        </p>
                        <a href="product_detail.html" class="title">Laptop Acer Aspire 3 A315-58-35AG</a><br/>
                        <a href="products.html" class="category"
                           style="text-decoration-line: line-through">13.990.000 VNĐ</a>
                        <p class="price">11.990.000 VNĐ</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row feature_box">
          <div class="span4">
            <div class="service">
              <div class="responsive">
                <img src="assets/themes/images/feature_img_2.png" alt=""/>
                <h4>Sản Phẩm Chất Lượng</h4>
                <p></p>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="service">
              <div class="customize">
                <img src="assets/themes/images/feature_img_1.png" alt=""/>
                <h4>Miễn Phí Vận Chuyển</h4>
                <p></p>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="service">
              <div class="support">
                <img src="assets/themes/images/feature_img_3.png" alt=""/>
                <h4>24/7 Hỗ Trợ Trực Tuyến</h4>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h4 class="title">
    <span class="pull-left"><span class="text"><span
      class="line">Sản Xuất</span></span></span>
    <span class="pull-right">
										<a class="left button" href="#myCarousel-3" data-slide="prev"></a><a
      class="right button" href="#myCarousel-3" data-slide="next"></a>
									</span>
  </h4>
  <div id="myCarousel-3" class="myCarousel carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <ul class="thumbnails">
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_1.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_2.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_3.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_4.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_5.png"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_8.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_9.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_6.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_7.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_10.png"></a>
            </div>
          </li>
          <li class="span2">
            <div class="span2">
              <a href="#"><img alt="" src="assets/bootstrap/img/logo/img_11.png"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
