<div id="wrapper" class="container">
  <section class="header_text sub">
    <h4><span>Giỏ Hàng Mua Sắm</span></h4>
  </section>
  <section class="main-content">
    <div class="row">
      <div class="span9">
        <h4 class="title"><span class="text"><strong>Giỏ Hàng</strong> Của Bạn</span></h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Xóa</th>
            <th>Hình Ảnh</th>
            <th>Tên Sản PHẩm</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Tổng Tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox" value="option1"></td>
            <td><a href="product_detail.html"><img alt="" src="../../assets/bootstrap/img/laptop/img_4.png"></a></td>
            <td>Laptop Dell Vostro 3400
              YX51W6</td>
            <td><input type="text" placeholder="1" class="input-mini"></td>
            <td>16.890.000 VNĐ</td>
            <td>16.890.000 VNĐ</td>
          </tr>
          <tr>
            <td><input type="checkbox" value="option1"></td>
            <td><a href="product_detail.html"><img alt="" src="../../assets/bootstrap/img/laptop/img_5.png"></a></td>
            <td>Laptop MSI GF63 Thin 11SC
              662VN</td>
            <td><input type="text" placeholder="2" class="input-mini"></td>
            <td>$17.990.000 VNĐ</td>
            <td>$35.980.000 VND</td>
          </tr>
          <tr>
            <td><input type="checkbox" value="option1"></td>
            <td><a href="product_detail.html"><img alt="" src="../../assets/bootstrap/img/laptop/img_6.png"></a></td>
            <td>Laptop Asus X515EA-BQ1006W -
              Silver</td>
            <td><input type="text" placeholder="1" class="input-mini"></td>
            <td>10.190.000 VNĐ</td>
            <td>10.190.000 VNĐ</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><strong>$3,600.00</strong></td>
          </tr>
          </tbody>
        </table>
        <h4>What would you like to do next?</h4>
        <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery
          cost.</p>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          Use Coupon Code
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Estimate Shipping &amp; Taxes
        </label>
        <hr>
        <p class="cart-total right">
          <strong>Sub-Total</strong>: $100.00<br>
          <strong>Eco Tax (-2.00)</strong>: $2.00<br>
          <strong>VAT (17.5%)</strong>: $17.50<br>
          <strong>Total</strong>: $119.50<br>
        </p>
        <hr/>
        <p class="buttons center">
          <button class="btn" type="button">Update</button>
          <button class="btn" type="button">Continue</button>
          <button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>
        </p>
      </div>
      <div class="span3 col">
        <div class="block">
          <ul class="nav nav-list">
            <li class="nav-header">Danh Mục</li>
            <li><a href="products.html">Nullam semper elementum</a></li>
            <li class="active"><a href="products.html">Phasellus ultricies</a></li>
            <li><a href="products.html">Donec laoreet dui</a></li>
            <li><a href="products.html">Nullam semper elementum</a></li>
            <li><a href="products.html">Phasellus ultricies</a></li>
            <li><a href="products.html">Donec laoreet dui</a></li>
          </ul>
          <br/>
          <ul class="nav nav-list below">
            <li class="nav-header">Sản Xuất</li>
            <li><a href="products.html">MSI</a></li>
            <li><a href="products.html">DELL</a></li>
            <li><a href="products.html">ASUS</a></li>
            <li><a href="products.html">APPLE</a></li>
            <li><a href="products.html">HP</a></li>
          </ul>
        </div>
        <div class="block">
          <h4 class="title">
            <span class="pull-left"><span class="text">Gợi Ý</span></span>
            <span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button"
                                                                                     href="#myCarousel"
                                                                                     data-slide="next"></a>
								</span>
          </h4>
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="../../assets/bootstrap/img/laptop/img_7.png"></a><br/>
                      <a href="product_detail.html" class="title">Laptop HP Pavilion
                        15-eg2058TU</a><br/>
                      <a href="#" class="category"
                         style="text-decoration-line: line-through">17.990.000 VNĐ</a>
                      <p class="price">16.690.000 VNĐ</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box">
                      <a href="product_detail.html"><img alt="" src="../../assets/bootstrap/img/laptop/img_8.png"></a><br/>
                      <a href="product_detail.html" class="title">Laptop Acer Aspire 3
                        A315-58-35AG</a><br/>
                      <a href="#" class="category"
                         style="text-decoration-line: line-through">12.490.000 VNĐ</a>
                      <p class="price">9.790.000 VNĐ</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
