<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/home']"><b>Biểu Đồ Thống Kê :</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/bar-chart']">Biểu đồ cột</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/doughnut-chart']">Biểu đồ bánh</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-warning" [routerLink]="['/radar-chart']">Biểu đồ radar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" [routerLink]="['/pie-chart']">Biểu đồ tròn</a>
    </li>
  </ul>
</div>
<div class="container pb-4">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
