<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout-css :: bootstrapCss}"></th:block>
</head>
<body>
<header>
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">My Product</h1>
                    <a href="" th:href="@{/product/create}" class="btn btn-outline-success btn-lg" role="button">Create Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
                <h5 class="navbar-brand">List products : </h5>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" name="search"
                           placeholder="Search By Name" th:value="${searchValue}" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="name">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Name Product</th>
            <th>Price Product</th>
            <th>Describe Product</th>
            <th>Producer Product</th>
            <th>Edit Product</th>
            <th>Delete Product</th>
            <!--            <th>Detail</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, loop : ${products}">
            <td th:text="${loop.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.priceProduct}"></td>
            <td th:text="${product.describeProduct}"></td>
            <td th:text="${product.producerProduct}"></td>
            <td>
                <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-outline-success">Edit</a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop' + ${product.id}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="staticBackdrop + ${product.id}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete blog <span th:text="${product.nameProduct}" class="text-warning"></span>
                                with id = <span th:text="${product.id}" class="text-warning"></span> ?
                            </div>
                            <div class="modal-footer">
                                <a href="" th:href="@{/product/delete/{id}(id=${product.id})}"
                                   class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-2 ">
            <ul class="pagination" th:if="${products.totalPages > 0}">
                <li class="page-item">
                    <a class="page-link" th:if="${products.hasPrevious()}" th:href="@{'/user/list'(page=${products.number - 1}, search=${searchValue})}">
                        Previous
                    </a>
                </li>
                <div th:each="item, loop : ${#numbers.sequence(1, products.totalPages )}">
                    <div th:if="${(products.number + 1) == item}">
                        <li class="page-item active">
                            <a class="page-link" href="#" th:text="${item}" th:href="@{/musics/home(page=(${item}-1), search=${searchValue})}"></a>
                        </li>
                    </div>
                    <div th:unless="${((products.number + 1) == item)}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:text="${item}" th:href="@{/products/home(page=(${item}-1), search=${searchValue} )}"></a>
                        </li>
                    </div>
                </div>
                <li class="page-item">
                    <a class="page-link" th:if="${products.hasNext()}" th:href="@{'/music/home'(page=${products.number + 1}, search=${searchValue})}">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>
<th:block th:replace="~{layout-css :: boostrapScript}"></th:block>
</body>
</html>