* {
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    height: 50px;
  
}

.header-trai {
    width: 25%;
    height: 50px;
    float: left;
}

.header-giua {
    width: 50%;
    height: 50px;
    float: left;
}

.header-phai {
    width: 25%;
    height: 50px;
    float: left;
}
.tong {
    width: 100%;
    height: auto;
}
.logo {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    right: -10px;
}

.header input {
    width: 220px;
    height: 40px;
    position: relative;
    top: -10px;
    right: -15px;
    border-radius: 20px;
    text-align: center;
}


.header img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    right: -10px;
}

.trang-chu {
    margin-left: 10%;
}

.tivi {
    margin-left: 10%;
}

.nha {
    margin-left: 10%;
}

.nhom {
    margin-left: 10%;
}

.tro-choi {
    margin-left: 10%;
}

.anh {
    border-radius: 50px;
}

.header-phai b {
    position: relative;
    top: -10px;
    right: -15px;
}

.menu {
    margin-left: 5%;
}

.trai {
    width: 20%;
    height: 1000px;
    float: left;
}
.trai img {
    width: 40px;
    height: 40px;
}

.trai-hinh {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.hinh {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}

.trai-hinh b {
    position: absolute;
    top: 96px;
}
.trai-ban-be {
    width: 100%;
    height: 50px;

}
.ban-be {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-ban-be b {
    position: absolute;
    top: 145px;
}

.trai-nhom {
    width: 100%;
    height: 50px;
}
.anh-nhom {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-nhom b {
    position: absolute;
    top: 195px;
}

.trai-nha {
    width: 100%;
    height: 50px;
}
.anh-nha {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-nha b {
    position: absolute;
    top: 245px;
}

.trai-tivi {
    width: 100%;
    height: 50px;
}
.watch {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-tivi b {
    position: absolute;
    top: 296px;
}
.trai-dong-ho {
    width: 100%;
    height: 50px;
}
.dong-ho {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-dong-ho b {
    position: absolute;
    top: 345px;
}

.trai-mui-ten {
    width: 100%;
    height: 50px;
}
.xem-them {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.trai-mui-ten b {
    position: absolute;
    top: 397px;
}
.loi-tat{
    margin-left: 20px;
}

.giua {
    width: 60%;
    height: 1000px;
    float: left;
}

.phai {
    width: 20%;
    height: 1000px;
    float: left;
}
.phai-lien-he img {
    width: 20px;
    height: 20px;
}
.phai-lien-he {
    margin-left: 20px;
    margin-top: 20px;
}
.camera {
    position: absolute;
    top: 70px;
    right: 100px;
}
.tim-kiem {
    position: absolute;
    top: 70px;
    right: 70px;
}
.ba-cham {
    position: absolute;
    top: 70px;
    right: 40px;
}

.ban img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ban-1 {
    width: 100%;
    height: 50px;
}
.abc {
    padding: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}
.ban-1 b {
    position: absolute;
    top: 110px;
}
.ban-2 b {
    position: absolute;
    top: 160px;
}
.ban-3 b {
    position: absolute;
    top: 210px;
}
.ban-4 b {
    position: absolute;
    top: 260px;
}

.dau img {
    width: 100px;
    height: 200px;
}