<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{bootstrap-css :: bootstrapCss123}"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#show").click(function () {
                $("p").show();
            });
        });
    </script>
</head>
<body>
<div class="p-3 text-center bg-image"
     style="height: 50px;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-success">
                <h1 class="mb-3">Create My Facility</h1>
            </div>
            <select>
                <option id="villa">Villa</option>
                <option id="house">House</option>
                <option id="room">Room</option>
            </select>
        </div>
    </div>
</div>
<div class="container">
    <form action="/facility/create" method="post" th:object="${facilityDto}">

        <div class="mb-3 mt-3">
            <label class="form-label h6">Facility Name:</label>
            <input type="text" class="form-control" placeholder="Enter Facility Name" th:field="*{facilityName}">
        </div>
        <div style="color: red" th:errors="*{facilityName}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Facility Area:</label>
            <input type="text" class="form-control" placeholder="Enter Facility Area" th:field="*{facilityArea}">
        </div>
        <div style="color: red" th:errors="*{facilityArea}"></div>


        <div class="mb-3 mt-3">
            <label class="form-label h6">Facility Cost:</label>
            <input type="text" class="form-control" placeholder="Enter Facility Cost" th:field="*{facilityCost}">
        </div>
        <div style="color: red" th:errors="*{facilityCost}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Max People:</label>
            <input type="text" class="form-control" placeholder="Enter Max People" th:field="*{maxPeople}">
        </div>
        <div style="color: red" th:errors="*{maxPeople}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Rent Type Id:(select one):</label>
            <select class="form-select" th:field="*{rentType}">
                <option th:each="item,loop : ${rentTypes}" th:text="${item.rentTypeName}"
                        th:value="${item.rentTypeId}"></option>
            </select>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Facility Type Id:(select one):</label>
            <select class="form-select" th:field="*{facilityType}">
                <option th:each="item,loop : ${facilityTypes}" th:text="${item.facilityTypeName}"
                        th:value="${item.facilityTypeId}"></option>
            </select>

        </div>

        <div class="mb-3 mt-3" id="villa">
            <label class="form-label h6">VH Standard Room:</label>
            <input type="text" class="form-control" placeholder="Enter Standard Room" th:field="*{standardRoom}">
        </div>

        <div class="mb-3 mt-3" id="villa">
            <label class="form-label h6">VH Description Other Convenience:</label>
            <input type="text" class="form-control" placeholder="Enter Description Other Convenience"
                   th:field="*{descriptionOtherConvenience}">
        </div>

        <div class="mb-3 mt-3" id="villa">
            <label class="form-label h6">V Pool Area:</label>
            <input type="text" class="form-control" placeholder="Enter Pool Area" th:field="*{poolArea}">
        </div>

        <div class="mb-3 mt-3" id="villa">
            <label class="form-label h6">VH Number Of Floors:</label>
            <input type="text" class="form-control" placeholder="Enter Number Of Floors" th:field="*{numberOfFloors}">
        </div>

        <div class="mb-3 mt-3"id="room">
            <label class="form-label h6">R Facility Free:</label>
            <input type="text" class="form-control" placeholder="Enter Facility Free" th:field="*{facilityFree}">
        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
        <a href="/facility-list" class="btn btn-outline-secondary">Back home</a>
    </form>
</div>


<th:block th:replace="~{bootstrap-css :: boostrapScript123}"></th:block>
</body>
</html>