<div class="container">
  <h1>This is an Angular App!</h1>
  <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
  <br/><br/>
  <div class="container" id="content" #content>
    <table class="table table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
      </tr>
      <tr *ngFor="let item of Data">
        <th>{{item.Id}}</th>
        <th>{{item.Name}}</th>
        <th>{{item.Salary}}</th>
      </tr>
    </table>
  </div>
</div>
